.button {
  width: 147px;
  height: 52px;
  border-radius: 6px;
  border: none;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
  flex-shrink: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: Inter, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--button-primary-bg-hover);
}

.button:disabled {
  background-color: var(--button-disabled-bg);
  color: var(--button-disabled-color);
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: var(--button-disabled-bg);
}

.button:focus {
  outline: 2px solid var(--text-accent);
  outline-offset: 2px;
}

.secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text);
}

.secondary:hover:not(:disabled) {
  background-color: var(--button-secondary-hover-bg);
  color: var(--button-secondary-hover-text);
}

.secondary.active {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.secondary:disabled {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text);
  cursor: not-allowed;
}

.secondary.active:disabled {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
  cursor: not-allowed;
}

.seeMore {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.seeMore:hover {
  background-color: var(--button-primary-bg-hover);
  color: var(--button-primary-color);
}
