.footer {
    width: 100%;
    margin-top: auto;
    position: relative;
    padding: 42px 22px;
    background-color: #f5fbfc;
    background-image: url("../../assets/background/footer.svg");
    background-repeat: no-repeat;
    background-position: -11% 100%;
}

.wrapper {
    max-width: 1190px;
    margin: 0 auto;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 21px;
}

.logoSection {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.logo {
    width: 41px;
    height: 52px;
}

.footerText {
    color: #546285;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.37px;
    text-align: start;
    margin: 0;
    max-width: 54%;
}

.linksContainer {
    min-width: 51%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

.linkColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.linkTitle {
    color: #08090a;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 1.6px;
}

.link {
    color: #546285;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 27px;
    transition: all 0.22s ease-in;
}

.link:hover {
    color: #35b8be;
}

.divider {
    width: 100%;
    height: 1px;
    background: rgba(126, 130, 143, 0.1);
    margin: 21px 0 68px 0;
}

.bottomContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.builtWith {
    display: flex;
    gap: 7px;
    color: #353448;
    font-size: 14px;
    line-height: 19px;
}

.highlightedText {
    color: #35b8be;
}

.socialIcons {
    display: flex;
    gap: 26px;
}

.socialIcon {
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(126, 130, 143, 0.31);
    border-radius: 50%;
    transition: background-color 0.32s, transform 0.28s;
}

.socialIcon:hover {
    background-color: rgba(53, 184, 190, 0.45);
    transform: scale(1.12);
}

.iconImage {
    width: 17px;
    height: 17px;
    opacity: 0.78;
    transition: opacity 0.32s;
}

.socialIcon:hover .iconImage {
    opacity: 1;
}

@media (max-width: 800px) {
    .mainContent {
        flex-direction: column;
    }

    .logoSection {
        margin-bottom: 20px;
    }

    .linksContainer {
        min-width: 80%;
        margin-bottom: 30px;
    }

    .bottomContent {
        flex-direction: column;
        align-items: start;
    }

    .socialIcons {
        margin-top: 20px;
    }

    .divider {
        margin: 20px 0;
    }
}
